@model List<Product>
@if (Model != null && Model.Count() > 0)
{
    <div class="product-item-wrap row">
        @foreach (var item in Model)
        {
            string url = $"/{item.Alias}-{item.ProductId}.html";
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img img-zoom-effect">
                        <a href="@url">
                            @if (item.Discount > 0)
                            {
                                <div style="position: relative" class="banner-img img-zoom-effect">
                                    <img width="200" height="200" class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                                    <div class="inner-content">
                                        <h5 style="background-color:white; position:absolute; top: -100px;right: -6px;" class="offer">@item.Discount.Value.ToString("#,##0")% OFF</h5>
                                    </div>
                                </div>
                            } else
                            {
                                <img width="200" height="200" class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                            }
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="cart.html">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="height:200px" class="product-content">
                        <a class="product-name" href="@url">@item.ProductName</a>
                        <div class="price-box pb-1">
                            <span class="new-price">
                                @{
                                    double price1 = item.Price.Value;
                                    double discount1 = item.Discount.Value;
                                    @if (item.Discount > 0)
                                    {
                                        double discountedPrice = price1 - (price1 * discount1 / 100);
                                        double roundedPrice = Math.Round(discountedPrice, 0, MidpointRounding.AwayFromZero);
                                        <span style="display:block;text-decoration: line-through; opacity:0.5">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                        <span>@roundedPrice.ToString("#,##0") VNĐ</span>
                                    }
                                    else
                                    {
                                        <span>@item.Price.Value.ToString("#,##0") VNĐ</span>
                                    }
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}